footer(id="redes")
	p socila 
		span media
	.social-media
		.social-media-box 
			a(href="#"): span(class="fab fa-github fa-4x icon")
			span GitHub
		.social-media-box 
			a(href="#"): span(class="fas fa-envelope-open-text fa-4x icon")
			span Email
		.social-media-box 
			a(href="#"): span(class="fab fa-twitter fa-4x icon")
			span Twitter
		.social-media-box 
			a(href="#"): span(class="far fa-sticky-note fa-4x icon")
			span Notion
		.social-media-box 
			a(href="#"): span(class="fas fa-address-card fa-4x icon")
			span CV
		.social-media-box 
			a(href="#"): span(class="fas fa-phone fa-4x icon")
			span Phone
	.social-gretting
		p Echo con ♥ por ©ChiristianMoreno