main(id="home")
	div(id="particles-js" class="particles")
	div(class="main-text")
		div(class="main-text-content") 
			p Hi there
			div(class="main-text-content__typed")
				span I Am  
					span(id="typed" class="typed")
			div(class="main-text-content__info")
				p I have more than two years of experience working with different technologies, a passion for development, never stop learning and coffee. let me show you some of my work.
				a(href="#about") Hire me