nav(rol="navigation" class="main-header__menu" id="nav")
	ul(class="nav-links")
		a(class="link-item" data-scroll href="#home") Home
		a(class="link-item" data-scroll href="#about") About
		a(class="link-item" data-scroll href="#services") Services
		a(class="link-item" data-scroll href="#portafolio") Portafolio
		a(class="link-item" data-scroll href="#notes") Notes
		a(class="link-item" data-scroll href="#redes") Social
